# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!/*.sv
!/*.ipynb

!/script/
!/script/*.ipynb
!/script/*.txt

!/src/
!/src/*.sv
!/src/*.v

!/others
!/others/*
!/others/*/*

!/ModelSim
!/ModelSim/*.do
!/ModelSim/*.bat

!/constraint
!/constraint/*.xdc